<nav class="row">
  <input type="checkbox" id="animation-toggle" [checked]="!animationsDisabled" (click)="toggleAnimations()">
  <label for="animation-toggle" [style.color]="animationsDisabled? 'red' : 'green'">{{ animationsDisabled ? 'Deactive Animations' : 'Active Animations' }} </label>
  <button routerLink="home" routerLinkActive="active" class="button" role="button">Home</button>
  <button routerLink="open-close" routerLinkActive="active" class="button" role="button">Open-Close</button>
  <button routerLink="status" routerLinkActive="active" class="button" role="button">Status Slider</button>
  <button routerLink="toggle" routerLinkActive="active" class="button" role="button">Toggle Animation</button>
  <button routerLink="enter-leave" routerLinkActive="active" class="button" role="button">Enter Leave</button>
</nav>

<div [@routeAnimations]="getRouteAnimationData()">
  <router-outlet></router-outlet>
</div>